.container-form input.erro-input {
  margin-bottom: 8px;
  border: 1px solid var(--color-p1);
}

.container-form input.erro-input::placeholder {
  color: var(--color-p1);
}

.container-form input.erro-input::after {
  content: "";
  display: block;
}

.container-field.erro-container {
  position: relative;
  margin-bottom: 40px;
}

.container-field span.erro-span {
  color: var(--color-p1);
  font-size: 0.65rem;
  font-style: italic;
  position: absolute;
  z-index: 999;
  display: block;
  right: 0;
}

span.erro-span::before {
  content: "!";
  width: 20px;
  height: 20px;
  color: var(--color-n3);
  background-color: var(--color-p1);
  position: absolute;
  text-align: center;
  font-size: 0.875rem;
  font-style: normal;
  border-radius: 50%;
  top: -42px;
  right: 0;
  margin-right: 16px;
}
